h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 58px;
    text-align: center;
    color: #0e0e59;
}

.responsive {
    width: 100%;
    height: auto;
}

.image {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}